torch~=2.0.0
torchnet~=0.0.4
torch_scatter
numpy~=1.18.5
pandas~=1.0.4
geopandas~=0.8.1
tqdm~=4.64.0
matplotlib~=3.5.2
rasterio~=1.2.10
torchgeometry~=0.1.2
s2cloudless~=1.6.0
natsort
fvcore
tensorboard
protobuf~=3.20.1
torchvision